---
import SectionLayout from '~/layouts/SectionLayout.astro';
---

<SectionLayout id="about" title="About Me" description="Learn more about me" hasHeader={true}>
	<div class=""></div>
</SectionLayout>
