---
import { PROJECTS } from '~/config.mjs';

import SectionLayout from '~/layouts/SectionLayout.astro';

import ProjectCard from '~/components/widgets/ProjectCard.astro';

const { list, projectsPerPage } = PROJECTS;
---

<SectionLayout id="Portfolio" title="Portfolio" description="Showcasing my recent works" hasHeader={true}>
	<div class="my-14 flex flex-col gap-y-6 place-items-center">
		{list.slice(0, projectsPerPage).map((project) => <ProjectCard {...project} />)}
	</div>
	{
		list.length > projectsPerPage && (
			<div class="flex justify-center">
				<a class="text-gray-400 text-xs font-medium uppercase" href="/projects" title="View all my projects">
					See more works <span class="text-gray-500">→</span>
				</a>
			</div>
		)
	}
</SectionLayout>
