---
import { PROJECTS as projects } from '~/config.mjs';
import ProjectCard from '~/components/widgets/ProjectCard.astro';
---

<div class="my-14 flex flex-col gap-y-6 place-items-center">
	{projects.list.map((project) => <ProjectCard {...project} />)}
</div>
<div class="flex flex-col place-items-center hover:scale-105 transition-transform duration-300 ease-out">
	<a class="text-gray-400 text-xs font-medium uppercase" href="/projects" title="All Posts">See more works →</a>
</div>
