---
import { getHomePermalink } from '~/utils/permalinks';
---

<footer class="text-sm font-medium">
	<div class="mx-auto max-w-5xl mt-6 md:mt-24">
		<div class="text-gray-700 dark:text-slate-400 flex items-center sm:justify-between justify-center">
			<span>
				&copy; {new Date().getFullYear()}
				<a href={getHomePermalink()} class="text-gray-700 dark:text-slate-400"> - Wilfried AGO</a>
			</span>
			<span class="hidden sm:block">All rights reserved.</span>
		</div>
	</div>
</footer>
