---
import Logo from '~/components/atoms/Logo.astro';
import ToggleTheme from '~/components/widgets/ToggleTheme.astro';
import ToggleMenu from '~/components/widgets/ToggleMenu.astro';

import { getHomePermalink } from '~/utils/permalinks';
---

<header
	class="sticky top-0 z-40 w-full backdrop-blur flex-none lg:z-50 supports-backdrop-blur:bg-white/95 dark:bg-slate-900/75"
>
	<div class="py-4 px-3 mx-auto w-full md:flex md:justify-between max-w-7xl md:px-4">
		<div class="flex justify-between w-full">
			<a class="grid place-items-center" href={getHomePermalink()}>
				<Logo />
			</a>
			<div class="flex items-center">
				<ToggleTheme />
				<ToggleMenu />
			</div>
		</div>
	</div>
</header>
