---
export interface Props {
	id: string;
	title?: string;
	description?: string;
	image?: string;
	technologies?: string[];
	links?: {
		github?: string;
		website?: string;
	}[];
}

const { id, title, description, image, technologies, links } = Astro.props as Props;
---

<article
	id={id}
	class="p-6 w-4/5 max-w-4xl h-20 flex flex-row items-center rounded-md bg-[#1a1e28] ring-2 ring-gray-700 cursor-pointer opacity-80 hover:opacity-100 hover:scale-105 transition-transform duration-300 ease-in-out hover:shadow-xl"
>
	<span class="h-0.5 w-14 mx-3 rounded-full bg-gray-400 hidden sm:block"></span>
	<span class="text-xs mx-3 font-bold">{id === '10' ? id : `0${id}`}</span>
	<h3 class="mx-3 text-sm font-bold leading-tight truncate">{title}</h3>
</article>
