---
import '~/assets/styles/base.css';

import MetaTags from '~/components/core/MetaTags.astro';

const { meta = {} } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="motion-safe:scroll-smooth 2xl:text-[20px]">
	<head>
		<MetaTags {...meta} />
	</head>

	<body
		class="antialiased scrollbar-hide text-gray-900 dark:text-slate-300 bg-coffee dark:bg-slate-900 tracking-tight transition-colors duration-300 ease-in-out"
	>
		<slot />
		<style is:global>
			img {
				content-visibility: auto;
			}
		</style>
	</body>
</html>
